:root {
  --bg-color: #f2f9fe;
  --text-color: #223344;
  --primary-color: #2a4dd0;
  --white: #ffffff;
}

@media (max-width: 1024px) {
  card-wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 640px) {
  headbarnav-item {
    display: none;
  }
}

body.dark-mode {
  --bg-color: #111111;
  --text-color: #f5f5f5;
  --primary-color: #4f6cff;
  --white: #1a1a1a;
}

.App {
  text-align: center;
  background-color: var(--bg-color);
  height: 100%;
}

.appData-wrapper {
  padding: 20px;
}

.headbar-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.headbar-linkwrapper {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
}

.headbarnav-item {
  cursor: pointer;
  color: var(--text-color);
  padding-bottom: 6px;
  position: relative;
  transition: 0.3s ease;
}

.theme-img {
  width: 100%;
}

/* Hide dark by default */
.dark-img {
  display: none;
}

/* When dark mode active */
body.dark-mode .light-img {
  display: none;
}

body.dark-mode .dark-img {
  display: block;
}

.headbarnav-item.active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.headbarnav-item:hover {
  color: var(--primary-color);
}

.card-wrapper {
  display: grid;
  grid-template-columns: 0.45fr 0.55fr;
}

.dataCard-wrapper {
  margin-top: 80px;
  height: 90%;
  width: 80%;
  display: grid;
  grid-template-rows: 40px 1fr 80px 80px 120px;
  gap: 10px;
  padding: 20px 100px;
}

.dataCard-simpleWayText {
  text-align: left;
  font-size: 1.125rem;
  color: var(--text-color);
  font-weight: 600;
  text-transform: uppercase;
}

.dataCard-mainText {
  width: 70%;
  text-align: left;
  font-size: 4rem;
  color: var(--text-color);
  font-weight: 1000;
}

.dataCard-subheading {
  margin-top: 20px;
  text-align: left;
  font-size: 1.25rem;
  color: var(--text-color);
  font-weight: 500;
}

.dataCard-btnwrappers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  place-items: center;
}

.dataCard-completeBtn {
  background-color: var(--primary-color);
  font-size: 1.2rem;
  height: 60px;
  padding: 12px 24px;
  border-radius: 12px;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
  color: var(--white);
  width: 80%;
}

.dataCard-completeBtn:hover {
  background-color: var(--white);
  color: var(--text-color);
}

.dataCard-underlineBtn {
  background: none;
  font-size: 1.2rem;
  border: none;
  height: 60px;
  color: var(--primary-color);
  font-weight: 700;
  border-bottom: 2px solid var(--primary-color);
  cursor: pointer;
  width: 80%;
  padding: 12px 0;
}

.dataCard-underlineBtn:hover {
  color: var(--text-color);
  border-bottom: 2px solid var(--text-color);
}

.dataCard-extraData {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--text-color);
  height: 40%;
}

.datacard-extraDataImageWrapper {
  display: grid;
  grid-template-columns: 10px 1fr;
  place-items: center;
  width: 90%;
  margin: 10px;
}

.custom-switch {
  width: 90px;
  height: 35px;
  border-radius: 50px;
  background-color: #111729;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.switch-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
  z-index: 1;
}

.switch-icons img {
  width: 25px;
}

.switch-thumb {
  margin-left: 15px;
  width: 30px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  transition: transform 0.3s ease;
}

.custom-switch.dark-mode .switch-thumb {
  transform: translateX(30px);
}
